body {
    background-color: rgb(23, 22, 22);
    color: white;
    max-width: 1600px;
    margin: auto;
}

form {
    margin: 2% 15%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 5% 2% 5%;
}

h2 {
    text-decoration: underline;
}

input {
    background-color: transparent;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

textarea {
    background-color: transparent;
    border-radius: 5px;
    color: white;
}

#submit {
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border: 1px solid lightpink;
    border-radius: 5px;
    cursor: pointer;
}

#editBtnDiv {
    position: relative;
}

#edit {
    position: fixed;
    top: 10%;
    right: 8%;
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border: 1px solid lightpink;
    border-radius: 5px;
    cursor: pointer;
}

#main {
    background-color: black;
    margin: 2% 15%;
    color: white;
    border-radius: 5px;
    border: 1px solid lightpink;
}

#heading {
    text-align: center;
}

#separator {
    background-color: lightpink;
    height: 2px;
}

main {
    display: grid;
    grid-template-columns: 50% auto;
}

main div {
    margin: 2% 4%;
}

h1 {
    color: lightpink;
    text-align: center;
}

h3 {
    color: lightpink;
    text-decoration: underline;
    margin-top: 15%;
    cursor: pointer;
}

#email {
    display: flex;
    gap: 2%;
    margin-left: 0;
}

.edu-content {
    margin-top: 15%;
}

@media (max-width: 640px) {
    form {
        margin: 3% 5%;
    }

    textarea {
        max-width: 250px;
    }

    #main {
        margin: 4% 5%;
    }

    main {
        grid-template-columns: 100%;
    }
}

@media (min-width: 461px) and (max-width: 768px) {
    form {
        margin: 3% 13%;
    }
}
